<template>
  <v-app>
    <app-nav :menuVal="menu"></app-nav>
    <v-content class="mx-10">

      <div style="margin-top : 100px;">
        <!--<nuxt-link v-if="$i18n.locale !== 'en'" :to="switchLocalePath('en')">English()</nuxt-link>
        <nuxt-link v-if="$i18n.locale !== 'cn'" :to="switchLocalePath('cn')">简体中文()</nuxt-link>-->

      <div v-if="$store.state.auth"><p><b>Welcome to WhatsBuy! {{this.username}}</b></p></div>
      <app-jumbo id="home"></app-jumbo>
      </div>

   <!--   <app-feature ></app-feature>
      <v-container>
        <app-form id="form"></app-form>
      </v-container>
      <app-service id="service"></app-service>
      <app-process></app-process>
      <app-about id="team"></app-about>
      <v-spacer></v-spacer>
      <app-company id="about"></app-company>
      <app-contact id="contact"></app-contact>
      <app-footer :menuVal="menu"></app-footer>-->
      <app-process></app-process>

    </v-content>
  </v-app>
</template>
<script>
    import AppNav from "~/components/AppNav.vue";
    import AppJumbo from "../components/Jumbotron";
    import AppFeature from "../components/Feature.vue";
    import AppAbout from "../components/AboutUs";
    import AppCompany from "../components/CompanyInfo";
    import AppFooter from "../components/AppFooter";
    import Process from "../components/Process.vue";
    import AppProcess from "../components/Process";
    import AppLogin from "../components/Login"
    const Cookie = process.client ? require('js-cookie') : undefined
    export default {
        name: 'App',
        components: {
            AppProcess, AppLogin,AppCompany, AppJumbo,  AppNav,  Process, AppAbout},
        data(){
            return {
                menu: [

                ],
                username : ''
            }
        },
        // methods:{
        //
        // },
        methods: {
            onUserLoggedIn(user) {
                console.log(user)
            },
        },
        mounted() {
            if (this.$store.state.auth) {
                const auth = Cookie.get('auth')
                console.log(auth)
                const token = eval("(" + auth + ")");
                this.username = token.username
            }
        }
    }
</script>
