
<template>

<!--  <v-container class="infoContainer">
    <div >
    <v-row >
      <v-col cols="5">
        <v-row
          :align="alignment"
          :justify="justify"
          style="height: 300px;"
        >
                <v-card
                  v-for="image in imgSrc"
                  :key="image"
                  class="mx-auto"
                  width="350px"
                  height="200px"
                  style=" margin: 100px 100px 0.1em 0.1em;"
                  outlined
                >
                  <v-list-item three-line>
                    <v-list-item-avatar
                      tile
                      size="100"
                    ><v-img height="200"
                            width="200"
                            :src="img"></v-img></v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title class="headline">Headline 5</v-list-item-title>
                      <p>Greyhound divisely <br>hello coldly fonwderfully.<br>dbdfbdfdfvdfvsdfsd<br>fsdfsdfsdfsdfsdsdfsdfsedfdf</p>
                      <v-list-item-subtitle>Read more</v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-card>
        </v-row>
      </v-col>
    </v-row>
    </div>
  </v-container>-->

<!--   new version-->
  <div class="peopleInfo">
    <p class=" title text-center text-uppercase display-2 pb-6"  >ABOUT Captain.An</p>
    <p class=" text-center "  >some text info about the company</p>
    <v-container class="my-5">
    <v-layout row wrap>
      <v-col sm="12" md="6" align="center"
             v-for="image in imgSrc"
             :key="image"
      >
        <v-card outline  width="300px" height="200px" class="pa-4 mx-auto">
          <v-layout row>
            <v-col sm="6">
              <v-img height="100"
                     width="100"
                     :src="img"></v-img>
            </v-col>
            <v-col sm="6">
               <p>title</p>
               <p>info</p>
               <p>read more</p>
            </v-col>
          </v-layout>
        </v-card>
      </v-col>

    </v-layout>

    </v-container>
  </div>
</template>


<script>
  export default {
    data () {
      return {
        alignment: 'center',
        justify: 'space-between',
        imgSrc: [
          'v.png',
          'v.png',
          'v.png',
          'v.png'
        ],
        img :  'v.png'
      }
    },
  }
</script>
<style scoped>
.infoContainer {
  margin-left: 30%;
}
  .card {
    margin: 100px 100px 75px 100px;
  }
  .peopleInfo {
    width: 50%;
    margin-left:25%;
  }
</style>
