<template>
  <div style="background-color: aqua;">
    <v-container class="footer">
      <v-layout row>
        <v-col>
          <v-layout row justify-space-around align-content-space-around>
            <v-col sm="3" md="3">
              <v-layout column>
                <v-row>
                  <v-layout row>
                    <v-col>
                      <p class=" title text-uppercase "  >Captain.An</p>
                    </v-col>
                  </v-layout>
                </v-row>
              </v-layout>
            </v-col>
            <v-col sm="3" md="3">
              <v-layout column>
                <v-row><p title style="padding-left: 10px;">NAVIGATION</p></v-row>
                <v-row
                  v-for="item in menu"
                  :key="item.icon"
                >
                  <v-btn  small text :to="item.link" @click="$vuetify.goTo(item.pos, options)">
                    {{$t('menuItem.' + item.title)}}
                  </v-btn>
                </v-row>
              </v-layout>
            </v-col>
            <v-col sm="3" md="3">
              <v-layout column class="pa-10">
                <v-row><p>T:347-827-0191</p></v-row>
                <v-row> <p>F:516-821-8978</p></v-row>
              </v-layout>
            </v-col>
            <v-col sm="3" md="3">
              <v-img src="v.png" width="100px" height="100px" ></v-img>
              <p class="pa-6">some info</p>
            </v-col>
          </v-layout>
        </v-col>

<!--        <v-col-->
<!--          class="lighten-2 py-4 text-center "-->
<!--          cols="12"-->
<!--        >-->
<!--          @{{ new Date().getFullYear() }} — <strong>BY CAPTAIN.AN INC</strong>-->
<!--          <br>PROUDLY CREATED BY NEW HORIZON GROUP-->
<!--        </v-col>-->
      </v-layout>
    </v-container>
    <p
      class=" title text-center text-uppercase display-5 pb-6 "
    >
      @{{ new Date().getFullYear() }} — <strong>BY CAPTAIN.AN INC</strong>
      <br>PROUDLY CREATED BY NEW HORIZON GROUP
    </p>
  </div>

</template>

<script>

    export default {
        name: "app-footer",
        props: {
          menuVal : {

          },
        },
        data () {
          return {
            menu: [
              { icon: 'home', title: 'home', pos: '#home' },
          
            ],
          }
        },
      mounted() {
        this.menu = this.menuVal
      }
    }
</script>

<style scoped>
.footer {
  width: 100%;
  margin-left: 10%;

}
</style>
