<!--This component provide a responsive nav bar. When window shrinks, menu will collapse.-->
<template>
  <div class="navbar" :class="{ 'hidden-navbar': !showNavbar }">
    <v-toolbar class="px-10">
      <div class="ma-3" id="logo">
        <v-toolbar-side-icon>
          <!--  <v-img :src="require('../assets/captainAn_purplelogo.png')" height="40" width="40"/>-->
         </v-toolbar-side-icon>
       </div>
       <v-toolbar-title> WhatsBusy </v-toolbar-title>
       <v-spacer></v-spacer>
       <!--            Show all the menu options when not collapsed. -->
      <div class="hidden-sm-and-down toolbar">
        <v-toolbar-items>
          <v-btn  class="showBtn"
                  small
                  text
                  nuxt
                  to="/"
            >{{$t('menuItem.'+'home')}}</v-btn>
          <v-btn  class="showBtn"
                  small
                  text
                  nuxt
                  to="/user-stories"

          <v-btn  class="showBtn"
                  small
                  text
                  v-for="item in menu"
                  :key="item.icon"
                  :to="item.link"
                  @click="$vuetify.goTo(item.pos, options)"
          >{{ $t('menuItem.' + item.title) }}</v-btn>

          <AppLogin style="padding-top: 0.5%"></AppLogin>
        </v-toolbar-items>

      </div>
      <!--            Show only a menu button when collapsed  -->
      <div class="hidden-md-and-up text-center">
        <v-row>
        <v-col sm="6">
        <v-menu offset-y
                open-on-hover
                max-width="13%"
                min-width="110px"
                transition="scroll-y-reverse-transition"
        >

          <v-list>
            <v-list-item>
              <v-btn to="/" class="menuBtn" text small>{{$t('menuItem.'+'home')}}</v-btn>
            </v-list-item>

            <v-list-item>
              <AppLogin style="padding-left: 20%"></AppLogin>
            </v-list-item>
          </v-list>
        </v-menu>
        </v-col>
        <v-col sm="6">
        <AppLogin style="padding-top: 0.5%"></AppLogin>
        </v-col>
        </v-row>
      </div>
    </v-toolbar>
  </div>
</template>

<script>
    import AppLogin from './Login'
    export default {
        name: "app-nav",
        props: {
            menuVal : {

            },
        }
        ,
        components : {
            AppLogin
        },
        data () {
            return {
                showNavbar: true,
                lastScrollPosition: 0,
                scrollValue: 0,
                menu: [

                ],
            }
        },
        mounted () {
            this.lastScrollPosition = window.pageYOffset
            this.menu = this.menuVal
            window.addEventListener('scroll', this.onScroll)
            const viewportMeta = document.createElement('meta')
            viewportMeta.name = 'viewport'
            viewportMeta.content = 'width=device-width, initial-scale=1'
            document.head.appendChild(viewportMeta)
        },

        beforeDestroy () {
            window.removeEventListener('scroll', this.onScroll)
        },
        methods: {
            onScroll () {
                if (window.pageYOffset < 0) {
                    return
                }
                if (Math.abs(window.pageYOffset - this.lastScrollPosition) < 60) {
                    return
                }
                this.showNavbar = window.pageYOffset < this.lastScrollPosition
                this.lastScrollPosition = window.pageYOffset
            },
        }
    }
</script>

<style scoped>
  .navbar {
    position: fixed;
    width: 100%;
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    transform: translate3d(0, 0, 0);
    transition: 0.1s all ease-out;
    z-index: 9999;

  }
  .navbar.hidden-navbar {
    box-shadow: none;
    transform: translate3d(0, -150%, 0);
  }
  .showBtn {
    height: 90%;
    /*font-size: 0.1em;*/
  }
  .menuBtn {
    height: 90%;
    width: 100%;
    font-size: 0.7em;
  }
  .toolbar{
    height: 100%;
  }

</style>
