<template>

  <div >
    <div style="display: inline-block; margin-left:45%;">
      <p class=" title text-center text-uppercase display-2 pb-6"  >WhatsBusy</p>
    </div>
    <div class="companyInfo">
    <p class="text-center "  style="font-size: medium;">WhatsBusy aims at providing reliable and professional service.

    </p>
    </div></div>

</template>

<script>
    export default {
        name: "app-company"
    }
</script>

<style scoped>
.companyInfo {
  width: 70%;
  margin-left:15%;
}
</style>
