<template>

  <div class="note text-center" :style ="note">
    <v-row justify="center" align="center">
      <form class="form" pa-12 >
        <v-text-field
          v-model="name"
          :error-messages="nameErrors"
          :counter="20"
          label="Name"
          filled
          rounded
          required
          @input="$v.name.$touch()"
          @blur="$v.name.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="phone"
          :error-messages="phoneErrors"
          label="Phone"
          filled
          rounded
          required
          @input="$v.phone.$touch()"
          @blur="$v.phone.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="email"
          :error-messages="emailErrors"
          label="E-mail"
          filled
          rounded
          required
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="question"
          :error-messages="questionErrors"
          label="Question"
          filled
          rounded
          required
          height="100px"
          @input="$v.question.$touch()"
          @blur="$v.question.$touch()"
        ></v-text-field>
        <v-checkbox
          v-model="checkbox"
          :error-messages="checkboxErrors"
          required
          @change="$v.checkbox.$touch()"
          @blur="$v.checkbox.$touch()"
          class="ml-2"
        >
          <template v-slot:label>
            <div>
              I agree that
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <a
                    target="_blank"
                    href="http://vuetifyjs.com"
                    @click.stop
                    v-on="on"
                  >
                    Vuetify
                  </a>
                </template>
                Opens in new window
              </v-tooltip>
              is awesome
            </div>
          </template>
        </v-checkbox>
        <v-btn color="primary light" @click="submit">BOOK NOW</v-btn>
      </form>
    </v-row>
  </div>

</template>


<script>
  import { validationMixin } from 'vuelidate'
  import { required, maxLength, email } from 'vuelidate/lib/validators'
  export default {
    name: "app-form",
    mixins: [validationMixin],
    validations: {
      name: { required, maxLength: maxLength(20) },
      email: { required, email },
      phone: { required, maxLength: maxLength(10) },
      question: { required, maxLength: maxLength(200) },
      checkbox: {
        checked (val) {
          return val
        },
      },
    },
    data: () => ({
        note:{
          backgroundImage: "url(" + require("../assets/chat_now.png") + ")",
          backgroundPosition: "center center",
          backgroundRepeat: "no-repeat",
          backgroundSize:"80%",
          minWidth: '600px'
        },
        name: '',
        email: '',
        phone: '',
        question: '',
        checkbox: false,
      }
    ),
    computed: {
      checkboxErrors () {
        const errors = []
        if (!this.$v.checkbox.$dirty) return errors
        !this.$v.checkbox.checked && errors.push('You must agree to continue!')
        return errors
      },
      //TODO
      //phoneErrors
      phoneErrors () {
        const errors = []
        if (!this.$v.phone.$dirty) return errors
        !this.$v.phone.maxLength && errors.push('Phone must be at most 20 characters long')
        !this.$v.phone.required && errors.push('Phone is required.')
        return errors
      },
      //TODO
      //questionErrors
      questionErrors() {
        const errors = []
        if (!this.$v.question.$dirty) return errors
        !this.$v.question.maxLength && errors.push('Content must be at most 200 characters long')
        !this.$v.question.required && errors.push('Content is required.')
        return errors
      },
      nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.maxLength && errors.push('Name must be at most 20 characters long')
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
    },
    methods: {
      submit(e) {
        e.preventDefault();
        let currentObj = this;
        this.$axios.post('data/', {
            name: this.name,
            phone: this.phone,
            email: this.email,
            question: this.question,
          },
          {
            headers: {
              'Content-Type': 'application/json',
            }
          })
          .then(function (response) {
            currentObj.output = response.data;
          })
          .catch(function (error) {
            currentObj.output = error;
          });
        this.$v.$touch()
      },
      clear () {
        this.$v.$reset()
        this.name = ''
        this.email = ''
        this.phone = ''
        this.question = ''
        this.checkbox = false
      },
    },
  }
</script>
<style scoped>
  .form {
    width: 30%;
    margin-bottom: 10%;
  }
</style>
