<template>
  <div class="contact">
    <v-container>
      <v-layout row>
        <v-col sm="6" md="6">
          <v-layout column>
            <v-row><p class=" title text-uppercase display-2 pb-10"  >CONTACT US</p></v-row>
            <v-row class="pb-12">some info</v-row>
            <v-row>
              <v-col sm="6" md="6">
                <p><v-icon>mdi-phone</v-icon>TL347-827-0191</p>
                <p><v-icon>mdi-printer</v-icon>F:516-821-8978</p>
              </v-col>
              <v-col sm="6" md="6">
                <p><v-icon>mdi-email</v-icon>info@drelephant.io</p>
              </v-col>
            </v-row>
          </v-layout>
        </v-col>
        <v-col sm="6" md="6">
          <app-form></app-form>
        </v-col>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
  import AppForm from "../components/ConsultForm";
    export default {
        name: "app-contact",
        components : {AppForm}
    }
</script>

<style scoped>
.contact {
  width: 70%;
  margin-left:15%;
}
</style>
