<template>
  <v-layout row justify-space-around class="px-12 pb-12 mx-12 mb-12 justify-center ">
    <v-flex cols="3" xs10 sm4 md3 lg2>
      <v-col  align="center" justify="center" class="order-md-1">
        <v-img class="img" :src="require('../assets/personal_safety.png')"/>
        <v-text>Responsible</v-text>
      </v-col>
    </v-flex>
    <v-flex  cols="3" xs10 sm4 md3 lg2>
      <v-col  align="center" justify="center" class="order-md-2">
        <v-img class="img" :src="require('../assets/out_of_status.png')"/>
        <v-text>Affordable</v-text>
      </v-col>
    </v-flex>
    <v-flex  cols="3" xs10 sm4 md3 lg2>
      <v-col align="center" justify="center" class="order-md-3">
        <v-img class="img" :src="require('../assets/landlord_tenant.png')"/>
        <v-text>Considerable</v-text>
      </v-col>
    </v-flex>
  </v-layout>

</template>
<script>
  export default {
    name: "app-feature",
  }
</script>
<style>
  .img{
    width: 40%;
    margin-bottom: 30px;
  }
</style>
