<template>
<!--  <div>-->
<!--    <button class="button" @click="logInWithFacebook"> Login with Facebook</button>-->
<!--  </div>-->
  <div class="text-center">
    <v-btn class="ma-2" tile outlined block color="#42A5F5" @click="logInWithFacebook">
      <v-icon left>mdi-facebook</v-icon> Continue with Facebook
    </v-btn>
  </div>
</template>
<script>
    const Cookie = process.client ? require('js-cookie') : undefined
    export default {
        name:"facebookLogin",
        data() {
            return {
                name : '',
                email: '',
            }
        },
        mounted() {
            window.FB.getLoginStatus(function(response) {
                // statusChangeCallback(response);
                console.log(response)
            });
            if (this.$store.state.auth) {
                console.log(this.$store.state.auth)
            }
            if (this.$store.state.user) {
                console.log(this.$store.state.user)
            }
        },
        methods: {
            async logInWithFacebook() {
                let currentObj = this
                window.FB.login(function(response) {
                    if (response.authResponse) {

                        console.log(response)
                        window.FB.api('/me', { fields: 'id,name,email' },
                            userInformation => {
                                this.personalID = userInformation.id;
                                this.email = userInformation.email;
                                this.name = userInformation.name;
                                console.log(userInformation)
                                currentObj.output = userInformation
                                currentObj.$axios.post('google/', {
                                        username: this.name,
                                        email: this.email,
                                    },
                                    {
                                        headers: {
                                            'Content-Type': 'application/json',
                                        }
                                    })
                                    .then(function (response) {
                                        currentObj.output = response.data;
                                        console.log("success");
                                        console.log(response);
                                        currentObj.postLogin()
                                        currentObj.refresh()
                                    })
                                    .catch(function (error) {
                                        currentObj.output = error;
                                        console.log(error)
                                        console.log("failure login");
                                        currentObj.errorDialog = true
                                    });
                                // setTimeout(() => {
                                //     const user = {
                                //         email: this.email,
                                //         username : this.username
                                //     }
                                //     this.$store.commit('setUser',user) // mutating to store for client rendering
                                //     Cookie.set('user', user) // saving token in cookie for server rendering
                                //     console.log("success save user")
                                //     }
                                // ,1000)

                            }
                        )
                        // Now you can redirect the user or do an AJAX request to
                        // a PHP script that grabs the signed request from the cookie.
                    } else {
                        alert("User cancelled login or did not fully authorize.");
                    }
                });

                return false;
            },
            login() {
                let currentObj = this;
                this.$axios.post('google/', {
                        username: this.output.name,
                        email: this.output.email,
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(function (response) {
                        currentObj.output = response.data;
                        console.log("success");
                        console.log(response);
                        currentObj.postLogin()
                        // currentObj.refresh()
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                        console.log(error)
                        console.log("failure login");
                        currentObj.errorDialog = true
                    });

            },
            postLogin () {
                // setTimeout(() => { // we simulate the async request with timeout.

                // this.$v.$touch()
                const auth = {
                    accessToken: this.output.access_token,
                    username : this.output.username
                }
                console.log(auth)
                this.$store.commit('setAuth', auth) // mutating to store for client rendering
                Cookie.set('auth', auth) // saving token in cookie for server rendering
                console.log("success save cookie")
                // }, 1000)
            },
            refresh() {
                setTimeout(() => {
                    window.location.reload()
                }, 1000)
            },

        }
    };
</script>
<style>
  .button{
    color:white;
    min-width: 150px;
    background-color: #000000a1;
    height: 2.5rem;
    border-radius: 2rem;
    font-weight: 400;
    font-size: 0.8rem;
  }
</style>
