<template>
  <div class="text-center">
    <v-btn v-google-signin-button="clientId" block class="ma-2" tile outlined color="#EF9A9A">
      <v-icon left>mdi-google</v-icon> Continue with Google
    </v-btn>
  </div>

</template>

<script>
    const GoogleSignInButton = process.client ? require('vue-google-signin-button-directive') : undefined
    const jwtDecode = require('jwt-decode')
    const Cookie = process.client ? require('js-cookie') : undefined
    export default {
        directives: {
            GoogleSignInButton
        },
        data: () => ({
            clientId: '1013931810769-l9hbh13so6r792qdl7gtuludhqhl7u5d.apps.googleusercontent.com',
            decodedMsg : {},
        }),
        methods: {
            OnGoogleAuthSuccess (idToken) {
                // Receive the idToken and make your magic with the backend
                console.log(idToken)
                this.decodedMsg = jwtDecode(idToken)
                console.log(this.decodedMsg)
                this.login()
            },
            OnGoogleAuthFail (error) {
                console.log(error)
            },
            login() {
                let currentObj = this;
                this.$axios.post('google/', {
                        username: this.decodedMsg.name,
                        email: this.decodedMsg.email,
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(function (response) {
                        currentObj.output = response.data;
                        console.log("success");
                        console.log(response);
                        currentObj.postLogin()
                        currentObj.refresh()
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                        console.log(error)
                        console.log("failure login");
                        currentObj.errorDialog = true
                    });

            },
            postLogin () {
                setTimeout(() => { // we simulate the async request with timeout.

                    // this.$v.$touch()
                    const auth = {
                        accessToken: this.output.access_token,
                        username : this.output.username
                    }
                    console.log(auth)
                    this.$store.commit('setAuth', auth) // mutating to store for client rendering
                    Cookie.set('auth', auth) // saving token in cookie for server rendering
                    console.log("success save cookie")
                }, 1000)
            },
            refresh() {
                setTimeout(() => {
                    window.location.reload()
                }, 1000)
            },
        }
    }
</script>

<style>
  .google-signin-button {
    color: white;
    background-color: red;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 20px 25px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  $white: #fff;
  $google-blue: #4285f4;
  $button-active-blue: #1669F2;

</style>
