<template>
  <v-jumbotron class="ma-12">
    <v-layout row justify-space-around>
      <v-flex  xs12 sm7 md6 lg5>
        <v-col  class="pa-12 mt-12" fill-height>
          <v-layout align-center>
            <v-flex>
              <h3 class="display-2 my-5 font-weight-light text-uppercase">Your <span class="blue--text">Trustable</span> oversea advisor</h3>
              <span class="subheading font-weight-light text--secondary ">We are the go-to person whenever you are in need while traveling, studying, or living overseas.</span>
              <v-divider class="my-5"></v-divider>
              <v-btn large color="primary" class="mx-0 my-5" caption @click="$vuetify.goTo('form', options)">book now</v-btn>
            </v-flex>
          </v-layout>
        </v-col>
      </v-flex>
      <v-flex d-none d-md-block sm4 md5 lg4 >
        <v-col class="pt-12 pb-12 mt-12" >
          <v-img :src="require('../assets/homepage.png')"/>
        </v-col>
      </v-flex>
    </v-layout>
  </v-jumbotron>
</template>
<script>
  export default {
    name: "app-jumbo",
  }
</script>
