<template>
  <div>
    <div v-if="!$store.state.auth">

      <v-dialog v-model="dialog"  max-width="600px" min-width="360px">
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on"
          >
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </template>
        <div>
          <v-tabs v-model="tab" show-arrows background-color="deep-purple accent-4" icons-and-text dark grow>
            <v-tabs-slider color="purple darken-4"></v-tabs-slider>
            <v-tab v-for="(i,idx) in tabs" :key="idx">
              <v-icon large>{{ i.icon }}</v-icon>
              <div class="caption py-1">{{ i.name }}</div>
            </v-tab>
            <v-tab-item>
              <v-card class="px-4">
                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="nameOrEmail"  label="E-mail or User Name" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="password" :append-icon="show1?'eye':'eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
                      </v-col>
                      <v-col class="d-flex" cols="12" sm="6" xsm="12">
                        <a href="http://127.0.0.1:8000/accounts/password_reset">Forget your password?</a>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12" >
                        <v-btn x-large block :disabled="!valid" color="success" @click="submit"> Login </v-btn>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col cols="12">
                        <v-divider light ></v-divider>
                      </v-col>
                      <v-col cols="12" align="center">
                        <GSignin></GSignin>
                      </v-col>
                      <v-col cols="12" align="center">
                        <FSignin></FSignin>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card class="px-4">
                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row>
                      <v-col cols="12">
                        <v-text-field v-model="usernameReg" :rules="[rules.required]" label="User Name" maxlength="20" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="emailReg" :rules="emailRules" label="E-mail" required></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field v-model="passwordReg" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, rules.min]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Password" hint="At least 8 characters" counter @click:append="show1 = !show1"></v-text-field>
                      </v-col>
                      <v-col cols="12">
                        <v-text-field block v-model="verify" :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required, passwordMatch]" :type="show1 ? 'text' : 'password'" name="input-10-1" label="Confirm Password" counter @click:append="show1 = !show1"></v-text-field>
                      </v-col>
                      <v-spacer></v-spacer>
                      <v-col class="d-flex ml-auto" cols="12" sm="3" xsm="12">
                        <v-btn x-large block :disabled="!valid" color="success" @click="signup">Register</v-btn>
                      </v-col>
                    </v-row>
                  </v-form>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </div>
      </v-dialog>

    </div>
    <div v-else style="height: 100%; padding-top: 13%">
    <v-btn
      small
      text
      class="showBtn"

      @click="logout">log out</v-btn>
    </div>
  </div>

</template>
<script>
    import FSignin from "./FSignin";
    import GSignin from "./GSignin";
    const Cookie = process.client ? require('js-cookie') : undefined
    export default {
        middleware: 'notAuthenticated',
        name: "app-login",
        components: {
          FSignin, GSignin
        },
        data: () => ({
                nameOrEmail: '',
                password: '',
                username: '',
                usernameReg: '',
                passwordReg: '',
                emailReg: '',
                dialog: false,
                errorDialog: false,

                tab: 0,
                tabs: [
                    {name:"Login", icon:"mdi-account"},
                    {name:"Register", icon:"mdi-account-outline"}
                ],
                valid: true,
                verify: "",
                loginEmailRules: [
                    v => !!v || "Required",
                    v => /.+@.+\..+/.test(v) || "E-mail must be valid"
                ],
                emailRules: [
                    v => !!v || "Required",
                    v => /.+@.+\..+/.test(v) || "E-mail must be valid"
                ],

                show1: false,
                rules: {
                    required: value => !!value || "Required.",
                    min: v => (v && v.length >= 8) || "Min 8 characters"
                }
            }
        ),
        computed: {
            passwordMatch() {
                return () => this.passwordReg === this.verify || "Password must match";
            }
        },
        mounted() {
            if (this.$store.state.auth) {
                const auth = Cookie.get('auth')
                console.log(auth)
                const token = eval("(" + auth + ")");
                this.username = token.username
            }

        },
        methods: {
            reset() {
                this.$refs.form.reset();
            },
            submit(event) {
                event.preventDefault()
                let currentObj = this;
                this.$axios.post('token/', {
                        username: this.nameOrEmail,
                        password: this.password,
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(function (response) {
                        currentObj.output = response.data;
                        console.log("success");
                        console.log(response);
                        currentObj.postLogin()
                        currentObj.refresh()
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                        console.log(error)
                        console.log("failure login");
                        alert("Wrong password!")

                        currentObj.errorDialog = true
                    });
                // this.nameOrEmail = ''
                this.password = ''
                event.preventDefault()

            },
            logout () {
                Cookie.remove('auth')
                this.$store.commit('setAuth', null)
            },
            postLogin () {
                setTimeout(() => { // we simulate the async request with timeout.

                    // this.$v.$touch()
                    const auth = {
                        accessToken: this.output.access,
                        refreshToken: this.output.refresh,
                        username : this.output.username
                    }
                    this.$store.commit('setAuth', auth) // mutating to store for client rendering
                    Cookie.set('auth', auth) // saving token in cookie for server rendering
                    console.log("success save cookie")
                }, 1000)
            },
            refresh() {
                setTimeout(() => {
                    window.location.reload()
                }, 1000)
            },

            signup(e) {
                e.preventDefault();
                let currentObj = this;
                this.$axios.post('signup/', {
                        username: this.usernameReg,
                        email: this.emailReg,
                        password: this.passwordReg,
                    },
                    {
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    })
                    .then(function (response) {
                        currentObj.output = response.data;
                        if ('error' in response.data) {
                            alert("This email has been used! Try another one!")
                        }
                        else {
                          console.log("success Register");
                          console.log(response);
                          currentObj.nameOrEmail = currentObj.usernameReg
                          currentObj.password = currentObj.passwordReg
                          setTimeout(() => {
                              currentObj.submit()
                          }, 1000)
                        }
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                        console.log("failure regester");
                    });
            },
        },
    }
</script>
<style scoped>
  .form {
    width: 30%;
    margin-bottom: 10%;
  }
  .showBtn {
    height: 90%;
    /*font-size: 0.1em;*/
  }
</style>
