<template>
  <div class="process" ma-12 pa-12>
    <p class=" title text-center text-uppercase display-2 pb-6"  >service process</p>
    <v-layout row justify-space-around class="pa-12 pb-12 mx-12 mb-12 justify-center ">
      <v-flex class="vertical" d-md-none>
        <v-stepper v-model="step" vertical class="elevation-0">

          <v-stepper-step step="1">
            <p>Step 1</p>
          </v-stepper-step>
          <v-stepper-content step="1">
            <v-card color="lighten-1" class="mb-12" height="50px"></v-card>
            <v-btn color="primary" @click="step = 2">Continue</v-btn>
          </v-stepper-content>

          <v-stepper-step step="2"> <p>Step 2</p></v-stepper-step>
          <v-stepper-content step="2">
            <v-card color="lighten-1" class="mb-12" height="50px"></v-card>
            <v-btn color="primary" @click="step = 3">Continue</v-btn>
          </v-stepper-content>

          <v-stepper-step step="3"> <p>Step 3</p> </v-stepper-step>
          <v-stepper-content step="3">
            <v-card color="lighten-1" class="mb-12" height="50px"></v-card>
            <v-btn color="primary" @click="step = 4">Continue</v-btn>
          </v-stepper-content>

          <v-stepper-step step="4">  <p>Step 4</p> </v-stepper-step>
          <v-stepper-content step="4">
            <v-card color="lighten-1" class="mb-12" height="50px"></v-card>
            <v-btn color="primary" @click="step = 5">Continue</v-btn>
          </v-stepper-content>

          <v-stepper-step step="5">  <p>Step 5</p> </v-stepper-step>
          <v-stepper-content step="5">
            <v-card color="lighten-1" class="mb-12" height="50px"></v-card>
            <v-btn color="primary" @click="step = 1">Continue</v-btn>
          </v-stepper-content>
        </v-stepper>
      </v-flex>
      <v-flex class="horizontal" d-none d-md-block>
        <v-stepper alt-labels class="elevation-0">
          <v-stepper-header>
            <v-stepper-step step="1" complete>
              <v-col  align="center" justify="center" class="order-md-2">
                <v-text>Step 1</v-text>
                <v-img class="img ma-4" :src="require('../assets/step_1.png')"/>
              </v-col>
            </v-stepper-step>
            <v-divider></v-divider>

            <v-stepper-step step="2" complete>
              <v-col  align="center" justify="center" class="order-md-2">
                <v-text>Step 2</v-text>
              </v-col>
            </v-stepper-step>
            <v-divider></v-divider>

            <v-stepper-step step="3" complete>Step 3</v-stepper-step>
            <v-divider></v-divider>

            <v-stepper-step step="4" complete>Step 4</v-stepper-step>
            <v-divider></v-divider>

            <v-stepper-step step="5">Step 1</v-stepper-step>
          </v-stepper-header>
        </v-stepper>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
  export default {
    name: "app-process",
    data () {
      return {
        step: 1,
      }
    },
  }
</script>

<style scoped>
</style>
