<template>
  <v-flex column ma-12>
    <p class=" title text-center text-uppercase display-2 pb-6"  >our services</p>

    <v-layout row justify-space-around class="pb-6 mb-12 justify-center">
      <v-flex class="service-card" xs11 md4 xl3 mb-12>
        <v-card  raised pa-2 ma-2 >
          <v-col  align="center" justify="center">
            <p class=" plantitle"  >base plan</p>
            <p class=" price text-center text-uppercase font-weight-light"  >$500 <span class="year"> /year</span></p>
            <div class = "content">
              <p>Regular Seminars</p>
              <p>1-on-1 Consultation</p>
              <p class ="note">It's always good to bring a slower friend with you on a hike. If you happen to come across bears </p>
            </div>
          </v-col>
        </v-card>
      </v-flex>

      <v-flex class="service-card" xs11 md4 xl3 mb-12>
        <v-card class="card" raised >
          <v-col  align="center" justify="center">
            <p class=" plantitle text-center text-uppercase"  >plus plan</p>
            <p class=" price text-center text-uppercase font-weight-light" >$1000 <span class="year"> /year</span></p>
            <div class = "content">
              <p>Regular Seminars</p>
              <p>1-on-1 Consultation</p>
              <p>Documentation Review, editing and advice</p>
              <p>24/7 support</p>
              <p class ="note">It's always good to bring a slower friend with you on a hike. If you happen to come across bears </p>
            </div>
          </v-col>
        </v-card>
      </v-flex>
      <v-flex class="service-card" xs11 md4 xl3 mb-12>
        <v-card class="card" raised>
          <v-col align="center" justify="center">
            <p class=" plantitle text-center text-uppercase"  >cunstomizec plan</p>
            <p class=" text-center text-uppercase"  >upon request</p>
            <div class = "content">
              <p class ="note">It's always good to bring a slower friend with you on a hike. If you happen to come across bears, the whole group doesn't have to worry. Only the slowest in the group do. That was the lesson they were about to learn that day.</p>
            </div>
          </v-col>
        </v-card>
      </v-flex>
    </v-layout>
  </v-flex>

</template>
<script>
  export default {
    name: "app-service",
  }
</script>
<style>
  .plantitle{
    padding-top: 10%;
    padding-inline: 10%;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    font-family: Monospaced;
    text-transform: uppercase;
  }
  .price{
    font-size : x-large;
    font-weight: bolder;
    font-family: "Nanum Gothic";
  }
  .service-card{
    width: 25%;
    padding-left: 3%;
    padding-right: 3% ;
  }
  .content{
    font-size: 80%;
    margin-left: 15%;
    margin-right: 15%;
    color: #7f828b;
    line-height: 1em;
  }
  .year{
    font-family: Arial;
    font-size: small;
    color: grey;
    text-transform: lowercase;
  }
  .note{
    color: darkgray;
    font-size: x-small;
    line-height: 1.5em;
    text-align: left;
  }
</style>
