<template>
  <div>
<!--     v-bind:url = this.url   to get current url-->
    <social-sharing url="http://vuejs.org/" inline-template>
      <div class="sshare">


        <network network="facebook">
          <i class="fa fa-facebook"></i> Facebook
        </network>

        <network network="googleplus">
          <i class="fa fa-google-plus"></i> Google
        </network>

        <network network="linkedin">
          <i class="fa fa-linkedin"></i> LinkedIn
        </network>

        <network network="pinterest">
          <i class="fa fa-pinterest"></i> Pinterest
        </network>

        <network network="reddit">
          <i class="fa fa-reddit"></i> Reddit
        </network>

        <network network="twitter">
          <i class="fa fa-twitter"></i> Twitter
        </network>

<br>
        <network network="weibo">
          <i class="fa fa-weibo"></i> Weibo
        </network>

        <network network="whatsapp">
          <i class="fa fa-whatsapp"></i> Whatsapp
        </network>

      </div>
    </social-sharing>

  </div>
</template>

<script>
    export default {
        name: "socialshare",
        data() {
            return {

            }
        },



    }
</script>


<style scoped>
  .sshare {
  }
</style>
