<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<p><a href="{% url 'logout' %}">logout</a></p>
<a href="{% url 'signup' %}">sign up</a>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">login</a>
<a href="{% url 'signup' %}">sign up</a>
{% endif %}
<p><a href="{% url 'password_reset' %}">reset password</a></p>
{% endblock %}